version: '3.9'

services:
  app:
    build: .
    container_name: aviasales_api
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_NAME: demo
    ports:
      - "8080:8080"
    
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./storage/postgres/init/20251118_aviasales_3months_init.sql:/docker-entrypoint-initdb.d/init.sql
  
volumes:
  postgres_data: